.navbar-collapse {
  overflow: hidden;
}

.rentable-list_entry {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    img {
        height: 200px;
    }
    
    div {
        
    }
}

