.navbar-collapse {
  overflow: hidden;
}

.add_rentable {
    .title {
        text-align: center;
        padding-bottom: 30px;
    }
}

.rentable-list_entry {
    display: flex;
    flex-flow: row wrap;
    padding-right: 20px;

    img {
        height: 200px;
    }

    .item-desc {
        flex-grow: 1;
        margin: 20px;
        min-width: 300px;
    }

    .renter-info {
        text-align: center;
        margin: auto;

        img {
            height: 100px;
        }

        img, button {
            display: block;
            margin: auto;
        }
    }
}
