.navbar-collapse {
  overflow: hidden;
}

.rentable-list_entry {
    display: flex;
    flex-flow: row wrap;
    
    img {
        height: 200px;
    }
    
    div {
        flex: 1;
        margin: 20px;
    }
}
